@import "fonts.css";

html {
	font-size: 62.5%;
}

body {
	width: 100%;
	margin: 0;
	font-family: Open Sans, Arial, sans-serif;
	box-sizing: border-box;
	min-width: 320px;
}

img {
	width: 100%;
	height: auto;
}

body * {
	box-sizing: border-box;
}

/*header block start*/

.header {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-top: 3.5rem;
	padding-bottom: 8.6rem;
	padding-right: 6.25vw;
	padding-left: 6.25vw;
	background: url(../img/320/header.jpg);
	background-color: rgb(10, 14, 52);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	line-height: 3.7rem;
	font-weight: bold;
}

.header__logo-icon {
	fill: #ffffff;
	display: block;
	width: 13rem;
	height: 3.5rem;
	margin: 0 auto;
}

.header__title,
.header__subtitle {
	font-size: 8.75vw;
	line-height: 9vw;

}

.header__title {
	margin-top: 12.5rem;
	margin-bottom: 1.5rem;
}

.header__subtitle {
	margin-top: 0;
	margin-bottom: 8rem;
	margin-left: 4.5rem;
}

.download-btn {
	display: flex;
	align-items: center;
	width: 87.5vw;
	height: 9.375vw;
	padding: 2.5px 0 2.5px 26.6vw;
	margin: 0 auto;
	font-size: 2.5vw;
	color: #ffffff;
	text-transform: uppercase;
	text-align: left;
	background-color: #5e42b0;
	border: none;
	border-radius: 15px;
	transition: all 0.4s ease-in-out;
}

.download-btn:hover {
	cursor: pointer;
	background-color: #493093;
}

.download-btn + .download-btn {
	margin-top: 1.2rem;
}

.download-btn__icon {
	display: inline-block;
	margin-right: 10px;
	fill: #ffffff;
}

.download-btn__icon svg {
	display: block;
	height: 7.1vw;
	width: auto;
}

.download-btn__store {
	font-weight: 600;
	display: block;
}

.download-btn__boldtext {
	display: block;
	font-weight: bold;
}

/*header block end*/

.top-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.top-section__maintitle {
	width: 100%;
	color: #e7e7e7;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 50px;
	line-height: 60px;
	padding-left: 20px;
}


.top-section__counter {
	position: relative;
	line-height: 15px;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
}

.top-section__counter::after {
	position: absolute;
	content: "";
	bottom: 0px;
	left: 0px;
	height: 4px;
	width: 100%;
	background-color: #5e42b0;
	border-radius: 2px;
}

.top-section__title {
	color: #c1c1c1;
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 35px;
	margin: 0 0 0 10px;
}

.top-section__img img {
	width: auto;
	max-width: 300px;
}

.top-section__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 50px 20px;
}

.top-section__item_grey {
	background-color: #f5f4f9;
}

.top-section__item_violet {
	background-color: #5e42b0;
}

.top-section__item_blue {
	background-color: #090c35;
}

.top-section__item_blue .top-section__counter {
	color: #8765dd;
}

.top-section__item_violet .top-section__counter::after,
.top-section__item_blue .top-section__counter::after {
	background-color: #ffffff;
}

.top-section__text {
	width: 100%;
	line-height: 18px;
	font-size: 15px;
	color: #000000;
	margin: 0;
}

.top-section__item_violet .top-section__text,
.top-section__item_blue .top-section__text {
	color: #ffffff;
}



/*middle section start*/

.middle-section__item {
	position: relative;
	display: flex;
	flex-direction: column;
}

.middle-section__pic {
	line-height: 0;
	font-size: 0;
}

.middle-section__pic img {
	width: 100%;
	height: auto;
}

.middle-section__text {
	padding: 35px 20px 75px;
}

.middle-section__counter-wrapper {
	width: 70px;
	height: 70px;
	position: absolute;
	background-color: #5e42b0;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0%;
	top: -85px;
}

.middle-section__title {
	position: relative;
	color: #c1c1c1;
	font-size: 28px;
	font-weight: bold;
	line-height: 35px;
	text-transform: uppercase;
	margin: 0 0 25px;
}

.middle-section__counter {
	display: block;
	font-size: 14px;
	line-height: 16px;
	position: relative;
	padding-bottom: 5px;
	color: #fff;
}

.middle-section__counter:after {
	position: absolute;
	content: "";
	left: 50%;
	bottom: 0.26vw;
	transform: translateX(-50%);
	border-radius: 2px;
	width: 100%;
	height: 4px;
	background-color: #fff;
	opacity: 0.3;
}

.middle-section__paragraf {
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}

/*middle section end*/

/*footer start*/

.footer {
	background-image: url(../img/320/footer.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	padding: 10rem 6.25vw 0.5rem;
}

.footer__icon {
	display: block;
	width: 7.2rem;
	height: 7.2rem;
	margin: 0 auto;
	padding: 1.4rem 0.7rem;
	background-color: #5e42b0;
	border-radius: 15px;
	transition: all 0.4s ease-in-out;
}

.footer__icon:hover {
	background-color: #493093;
}

.footer__icon svg {
	width: 5.5rem;
	height: 4.5rem;
	stroke: #ffffff;
}

.footer__title {
	margin-top: 5rem;
	margin-bottom: 0;
	font-size: 3.2rem;
	letter-spacing: 0.1rem;
}

.footer__subtitle {
	margin-top: 0;
	margin-bottom: 7rem;
	font-size: 1.4rem;
	color: #9b8ec1;
	line-height: 1.3;
	letter-spacing: 0.04rem;
}

.footer__logo {
	display: block;
	width: 13.5rem;
	height: 3.5rem;
	margin: 8.5rem auto 20px auto;
}

.footer__logo svg {
	fill: #ffffff;
	stroke: #ffffff;
}

/*footer end*/

@media (min-width: 641px) and (max-width: 960px) {

	/*header block start*/
	.header,
	.footer {
		flex-flow: wrap;
		justify-content: space-between;
		padding-right: 5vw;
	}

	.header {
		padding-bottom: 8.8rem;
		background: url(../img/768/header.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.header__logo {
		margin-left: 22rem;
	}

	.header__logo-icon {
		width: 21rem;
		height: 6.5rem;
		padding-left: 1rem;
	}

	.header__title,
	.header__subtitle {
		font-size: 6.3rem;
	}

	.header__title {
		margin-top: 17.9rem;
		margin-bottom: 2.5rem;
		margin-left: 3.7rem;
		letter-spacing: 0.4rem;
	}

	.header__subtitle {
		margin-left: 14.5rem;
		margin-bottom: 30rem;
		letter-spacing: 0.4rem;
		line-height: 7.5rem;
	}
	.top-section {
		position: relative;
	}
	.top-section__img {
		height: 100%;
	}


	.top-section__img img {
		height: 80%;
		max-width: none;
	}
	.top-section__maintitle {
		font-size: 80px;
		line-height: 60px;
		margin-bottom: 20px;
	}
	.top-section_athlets .top-section__item,
	.top-section_athlets .top-section__maintitle {
		padding-left: 42%;
	}
	.top-section_players .top-section__item,
	.top-section_players .top-section__maintitle {
		padding-right: 42%;
	}

	.top-section__title {
		font-size: 32px;
		line-height: 35px;
	}
	.top-section__counter {
		font-size: 18px;
		line-height: 25px;
		margin-top: -20px;
	}
	.top-section__text {
		font-size: 16px;
		line-height: 28px;
	}
	.top-section__img {
		position: absolute;
	}
	.top-section_players .top-section__img {
		right: -31%;
		top: 5.5%;
	}
	.top-section_athlets .top-section__img {
		left: -19%;
		top: 22.5%;
	}
	.top-section__item {
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.top-section__title {
		margin-bottom: 20px;
	}
	.middle-section__text {
		padding: 80px 10px 110px 30px;
	}
	.middle-section__counter-wrapper {
		width: 115px;
		height: 115px;
		top: -170px;
	}
	.middle-section__counter {
		font-size: 24px;
		line-height: 35px;
		padding-bottom: 10px;
	}
	.middle-section__counter:after {
		height: 5px;
		width: 90%;

	}
	.middle-section__title {
		font-size: 80px;
		line-height: 60px;
		margin-bottom: 40px;
	}
	.middle-section__paragraf {
		font-size: 24px;
		line-height: 28px;
		padding-right: 100px;
	}
	.download-btn {
		width: 40vw;
		border-radius: 5.2vw;
		display: flex;
		padding: 0;
		align-items: center;
		justify-content: center;
		font-size: 1.8vw;
		line-height: 2.5vw;

	}

	.download-btn + .download-btn {
		margin-top: 0;
		margin-right: 2rem;
	}


	.download-btn__icon {
		width: 4rem;
		height: 4rem;
		margin-right: 3vw;
		margin-top: 0;
	}
	.download-btn__icon svg {
		height: 100%;
	}
	/*header block end*/
	/*footer start*/
	.footer {
		display: flex;
		padding: 120px 0 5px;
		background: url(../img/768/footer.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		justify-content: center;
	}

	.footer__icon {
		width: 132px;
		height: 135px;
		border-radius: 30px;
		margin-bottom: 80px;
	}


	.footer__icon svg {
		width: 95px;
		height: 105px;
	}

	.footer__title {
		margin: 0;
		font-size: 10vw;
		letter-spacing: 0.7rem;
	}

	.footer__subtitle {
		margin-bottom: 275px;
		font-size: 4.68vw;
		line-height: 1;
		letter-spacing: -0.03rem;
		margin-left: 0;
	}




	.footer .download-btn__google {
		margin-right: auto;
	}

	.footer__logo {
		width: 21rem;
		height: 4.5rem;
		margin: 40px auto;
	}

	/*footer end*/
}

@media (min-width: 961px) {

	/*header block start*/
	.header,
	.footer {
		flex-flow: wrap;
		justify-content: center;
		padding-right: 5vw;
	}

	.header {
		padding-bottom: 10.8rem;
		background: url(../img/desktop/header.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.header__logo {
		width: 100%;
		padding-right: 4rem;
	}

	.header__logo-icon {
		width: 20rem;
		height: 7.5rem;
	}

	.header__title,
	.header__subtitle {
		font-size: 4.6875vw;
		line-height: 4.7vw;
	}

	.header__title {
		width: 100%;
		padding-top: 8.8vw;
		margin-bottom: 3.6rem;
		margin-left: 60px;
		letter-spacing: 0.35rem
	}

	.header__subtitle {
		width: 100%;
		margin-left: 0;
		margin-right: 5.5vw;
		margin-bottom: 22rem;
		text-align: right;
		letter-spacing: 0.3rem;
		line-height: 7.5rem;
	}

	.download-btn {
		width: 309px;
		padding: 2rem 6rem 2rem 6rem;
		border-radius: 40px;
		font-size: 1.4rem;
	}

	.download-btn + .download-btn {
		margin-top: 0;
		margin-left: 5rem;
	}

	.download-btn__apple {
		margin-left: -4rem;
		padding-left: 3.8rem;
		padding-top: 1.4rem;
	}

	.download-btn__google .download-btn__text {
		padding-top: 0.3rem;
	}

	.download-btn__icon {
		width: 4rem;
		height: 4rem;
		margin-right: 2.6rem;
		margin-top: 0;
	}

	/*header block end*/
	.top-section {
		position: relative;
	}

	.top-section_athlets .top-section__item,
	.top-section_athlets .top-section__maintitle {
		padding-left: 52%;
		padding-right: 10.7%;
	}
	.top-section__maintitle {
		margin-bottom: 0;
	}
	.top-section_players .top-section__item {
		padding-right: 52%;
		padding-left 10.7%;
	}
	.top-section__img {
		position: absolute;
	}
	.top-section_athlets .top-section__img {
		left: 20.5%;
		top: 5%;
	}
	.top-section_players .top-section__img {
		right: 7.3%;
		top: 5%;
	}
	.top-section__img img {
		max-width: none;
	}
	.top-section_athlets .top-section__img img {
		height: 48vw;
	}
	.top-section_players .top-section__img img {
		height: 43vw;
	}
	/*middle section start*/
	.middle-section__item {
		flex-direction: row;
		position: relative;

	}
	.middle-section__item:nth-child(2) {
		flex-direction: row-reverse;
	}
	.middle-section__counter-wrapper {
		width: 8.75vw;
		height: 8.125vw;
		position: absolute;
		background-color: #5e42b0;
		display: flex;
		justify-content: center;
		align-items: center;
		left: 50%;
		transform: translate(-50%, -50%);
		top: 50%;
	}
	.middle-section__counter {
		display: block;
		font-size: 1.125vw;
		line-height: 1.15vw;
		position: relative;
		padding: 0.3vw;
		padding-bottom: 0.7vw;
		/*		padding: 5px 5px 10px;*/
		color: #fff;
	}
	.middle-section__counter:after {
		position: absolute;
		content: "";
		left: 50%;
		bottom: 0.26vw;
		transform: translateX(-50%);
		border-radius: 2px;
		width: 70%;
		height: 0.26vw;
		background-color: #fff;
		opacity: 0.3;
	}

	.middle-section__pic,
	.middle-section__text {
		width: 50%;

	}
	.middle-section__text {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}
	.middle-section__item:not(:nth-child(2)) .middle-section__text {
		padding-left: 6.7%;
		padding-right: 10%;
	}
	.middle-section__item:nth-child(2) .middle-section__text {
		padding-right: 6.7%;
		padding-left: 10%;
	}
	.middle-section__title {
		position: static;
		color: #c1c1c1;
		font-size: 4.16vw;
		text-transform: uppercase;
		margin: 0;
	}
	.middle-section__paragraf {
		font-size: 1.125vw;
	}


	/*middle section end*/
	/*footer start*/
	.footer {
		display: flex;
		padding: 5.21vw 0 0.5rem;
		background: url(../img/desktop/footer.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.footer__icon {
		width: 13.2rem;
		height: 13.5rem;
		margin: 6.7vw 0 0 0;
		border-radius: 30px;
	}

	.footer__icon svg {
		width: 9.5rem;
		height: 10.5rem;
	}

	.footer__title {
		margin-top: 6.46vw;
		margin-left: 1vw;
		font-size: 7.7rem;
		letter-spacing: 0.7rem
	}

	.footer__subtitle {
		width: 100%;
		margin-bottom: 8.54vw;
		margin-top: -1.82vw;
		font-size: 2.9rem;
		line-height: 1;
		letter-spacing: -0.03rem;
	}

	.footer button {
		width: 309.6px;
	}

	.footer .download-btn__apple {
		margin-left: -1vw;
	}

	.footer .download-btn__google {
		margin-top: 0;
		margin-left: 5rem;
	}

	.footer__logo {
		width: 21rem;
		height: 4.5rem;
		margin: 13% 28% 4% 28%;
	}

	/*footer end*/
}
